.page{
    margin-inline: auto;
    scroll-behavior: smooth;
}

header{
    background-color: var(--header-principal);
    color: #000;
    padding-block: 2rem;
    position: fixed;
    width: 100%;

}

.header-conteiner{
    max-width: 135rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .login{
        position: fixed;
        left: 2rem;
        top: 2rem;

        a{
            outline: 0.2rem solid #fff;
            border-radius: 0.6rem;
            padding: 0.4rem;
            color: #fff;
        }
    }

    ul{
        display: flex;
        gap: 5rem;
        list-style: none;
    }

    a{
        color: #000;
        text-decoration: none;
    }

    a:hover{
        transform: scale(1.2);
        font-weight: 700;
        color: #fff;
        transition: 0.7s;
    }
}

main{
    background-color: var(--background-principal);
    padding-block: 12rem 4rem;
    width: 100%;
}

.main-conteiner{
    max-width: 135rem;
    margin: 0 auto;
    line-height: 2.3rem;

    .section-p{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 60rem;
            border-radius: 2rem;
        }

        h2{
            padding: 3rem;
            font-weight: 700;
            font-size: 3rem;
        }

        .bandeira{
            position: fixed;
            top: 2rem;
            right: 2rem;
            img{
                width: 5rem;
                border-radius: 0.5rem;
            }
        }
    }

    .img{
        img{
        width: 30rem;
        border-radius: 3rem;
        margin-inline: 3rem;
        margin-top: 4rem;
        }

        p{
            max-width: 60rem;
            text-align: justify;
            margin-left: 14rem;
        }
    }

    .conteiner{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    .wb{
        background-color: #fff;
        margin-inline: 5rem;
        border-radius: 3rem;
        padding: 2rem;
        margin-bottom: 3rem;
    }

     p{
            max-width: 50rem;
            text-align: justify;
     }

     .cultura{
        margin-block: 4rem;
     }
}

.al{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-p{
    background-color: #fff;
    border-radius: 2rem;
    padding: 2rem;
    max-width: 90rem;
    border: none;
    outline: 2px solid #000;
}

button{
    padding: .4rem;
    width: 10rem;
    background-color: #000;
    border-radius: 1rem;
    border: none;
    color: #fff;
    margin-bottom: 2rem;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
}

button:hover{
    color: #000;
    background-color: #fff;
    outline: 2px solid #000;
    transition: .7s;
}

.wc{
        background-color: #fff;
        margin-inline: 5rem;
        border-radius: 3rem;
        padding: 3rem;
        margin-bottom: 3rem;
        max-width: 60rem;
        margin-top: 10rem;

        ul{
            list-style: none;
        }

        li{
            margin-block: 1rem;
        }
    }

    .d{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a{
        text-decoration: none;
        color: #000;
    }

    .link{
        position: absolute;
        right: 45rem;
        top: 90.5rem;
    }

@media(max-width: 768px){
    body{
        padding-inline: 1rem;
    }
}

.login-conteiner{
    background-image: url(../img/taj-mahau.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;


    .field{
        max-width: 100rem;
        outline: 2px solid #fff;
        border: none;
        padding: 3rem;
        border-radius: 2.3rem;
    }

    input{
        padding: 0.5rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
    }

    .input{
        margin-bottom: 3rem;
    }

    label{
        font-weight: 700;
    }

    form{
        margin-top: 4rem;
    }
}
