.page{
    margin-inline: auto;
    scroll-behavior: smooth;
}

header{
    background-color: var(--header-principal);
    color: #000;
    padding-block: 2rem;
    position: fixed;
    width: 100%;

}

.header-conteiner{
    max-width: 135rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .login{
        position: fixed;
        left: 2rem;
        top: 2rem;

        a{
            outline: 0.2rem solid #fff;
            border-radius: 0.6rem;
            padding: 0.4rem;
            color: #fff;
        }
    }

    ul{
        display: flex;
        gap: 5rem;
        list-style: none;
    }

    a{
        color: #000;
        text-decoration: none;
    }

    a:hover{
        transform: scale(1.2);
        font-weight: 700;
        color: #fff;
        transition: 0.7s;
    }
}

main{
    background-color: var(--background-principal);
    min-height: calc(100svh - 11.8rem);
    padding-block: 12rem 4rem;
}

.main-conteiner{
    max-width: 135rem;
    margin: 0 auto;
    line-height: 2.3rem;

    .section-p{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 60rem;
            border-radius: 2rem;
        }

        h2{
            padding: 3rem;
            font-weight: 700;
            font-size: 3rem;
        }

        .bandeira{
            position: fixed;
            top: 2rem;
            right: 2rem;
            img{
                width: 5rem;
                border-radius: 0.5rem;
            }
        }
    }

    .img{
        img{
        width: 30rem;
        border-radius: 3rem;
        margin-inline: 3rem;
        margin-top: 4rem;
        }

        p{
            max-width: 60rem;
            text-align: justify;
            margin-left: 14rem;
        }
    }

    .conteiner{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    .wb{
        background-color: #fff;
        margin-inline: 5rem;
        border-radius: 3rem;
        padding: 2rem;
        margin-bottom: 3rem;
    }

     p{
            max-width: 50rem;
            text-align: justify;
     }

     .cultura{
        margin-block: 4rem;
     }

}

@media(max-width: 768px){
    body{
        padding-inline: 1rem;
    }
}