#page{
    max-width: 135rem;
    margin-inline: auto;
    scroll-behavior: smooth;
}

header{
    background-color: var(--header-principal);
    color: #000;
    padding-block: 2rem;
    position: fixed;
    width: 100%;

}

.header-conteiner{
    max-width: 135rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .login{
        position: fixed;
        left: 2rem;
        top: 2rem;

        a{
            outline: 0.2rem solid #fff;
            border-radius: 0.6rem;
            padding: 0.4rem;
            color: #fff;
        }
    }

    ul{
        display: flex;
        gap: 5rem;
        list-style: none;
    }

    a{
        color: #000;
        text-decoration: none;
    }

    a:hover{
        transform: scale(1.1);
        font-weight: 700;
        color: #fff;
        transition: 0.7s;
    }
}

main{
    
}